/* Make hero container behave like a layered block */
.cmp-teaser--hero {
  position: relative;
  width: 100%;
  min-height: 80vh;
  overflow: hidden;
}

.cmp-teaser--hero .cmp-teaser__content {
  position: absolute;
  z-index: 2;
  color: #fff;
  padding: 3rem;
  max-width: 60rem;
  top: 30rem;
  height: 100vh;
}

.cmp-teaser--hero .cmp-teaser__title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
  min-width: 60rem;
}

.cmp-teaser--hero .cmp-teaser__title-text a {
  color: #fff;
  text-decoration: none;
  font-family: "BebasNeue", sans-serif;
}

.cmp-teaser--hero .cmp-teaser__title h1 a {
  font-size: 12rem;
  line-height: .75;
  position: relative;
  left: -.7rem;
  font-weight: 700;
  letter-spacing: 0;
}

.cmp-teaser--hero .cmp-teaser__title {
  max-width: 90rem;
  padding: 3rem 3rem;
  position: absolute;
  display: flex;
  align-items: flex-end;
  top: .6rem;
}